<a href="https://colab.research.google.com/github/ramrajv/NeuralNetworks/blob/main/House_Price_Keras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

## Part 1: Import the Housing data and do feature transformations

In [2]:
url = 'https://raw.githubusercontent.com/ramrajv/NeuralNetworks/main/house_price_full.csv'
df= pd.read_csv(url)
df.head()

   bedrooms  sqft_living    price
0         3         1340   313000
1         5         3650  2384000
2         3         1930   342000
3         3         2000   420000
4         4         1940   550000

In [3]:
X = df.copy()
# Remove target
Y = X.pop('price')

# perform a scaler transform of the input data
scaler = StandardScaler()
X = scaler.fit_transform(X)

# perform log transformation of target variable (For Sandeep: Is this needed?)
Y = np.log(Y)

In [4]:
df_scaled = pd.DataFrame(X)
df_scaled

            0         1
0   -0.433198 -0.753258
1    1.675735  1.457330
2   -0.433198 -0.188649
3   -0.433198 -0.121661
4    0.621269 -0.179079
..        ...       ...
494  0.621269  0.873582
495  1.675735  2.299459
496 -0.433198 -0.724549
497 -0.433198 -0.179079
498 -0.433198 -1.040347

[499 rows x 2 columns]

In [5]:
Y

0      12.653958
1      14.684290
2      12.742566
3      12.948010
4      13.217674
         ...
494    13.380102
495    13.764217
496    12.128111
497    12.721886
498    12.254863
Name: price, Length: 499, dtype: float64

## Part 2: Create Model Using `keras`

![](multiple_neurons.png)

In [6]:
from tensorflow import keras

In [15]:
model = keras.Sequential(
    [
        keras.layers.Dense(
            2, activation="sigmoid", input_shape=(X.shape[-1],)
        ),
        keras.layers.Dense(1, activation="linear")
    ]
)
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 2)                 6

 dense_5 (Dense)             (None, 1)                 3

=================================================================
Total params: 9
Trainable params: 9
Non-trainable params: 0
_________________________________________________________________

```python
def random_init_params():
    w1 = tf.Variable(tf.random.uniform((2, 2)))
    b1 = tf.Variable(tf.random.uniform((1, 2)))
    w2 = tf.Variable(tf.random.uniform((2, 1)))
    b2 = tf.Variable(tf.random.uniform((1, 1)))
    return w1,b1,w2,b2


def forward_prop(x, w1, b1, w2, b2):
    z1 = tf.matmul(x,w1) + b1
    h1 = tf.math.sigmoid(z1)
    z2 = tf.matmul(h1,w2) + b2
    h2 = z2
    return h2
```

In [16]:
model.compile(
    optimizer=keras.optimizers.SGD(), loss="mean_squared_error"
)

```python
def train(x, y, w1, b1, w2, b2):
    y_true = y
    with tf.GradientTape() as g:
        y_pred = forward_prop(x, w1, b1, w2, b2)

        # loss
        loss = 0.5*(y_true - y_pred)** 2
    
    #Gradient calculation  
    print("**************************************************")
    print("GRADIENTS")
    print("**************************************************")
    gw1, gb1, gw2, gb2 = g.gradient(loss, [w1, b1, w2, b2])
    print(" the gradient for 1st layer weights are:\n",gw1.numpy())
    print("--------------------------------------------------")
    print(" the gradient for 2nd layer weights are:\n",gw2.numpy())
    print("--------------------------------------------------")
    print(" the gradient for 1st layer bias are:\n",gb1.numpy())
    print("--------------------------------------------------")
    print(" the gradient for 2nd layer bias are:\n",gb2.numpy())
    print("--------------------------------------------------")

    # Gradient descent:
    lr=0.2
    w1.assign_sub(lr*gw1)
    b1.assign_sub(lr*gb1) 
    w2.assign_sub(lr*gw2)
    b2.assign_sub(lr*gb2)
    print("**************************************************")
    print("NEW UPDATES")
    print("**************************************************")
    print(" the updated 1st layer weights are:\n",w1.numpy())
    print("--------------------------------------------------")
    print(" the updated 2nd layer weights are:\n",w2.numpy())
    print("--------------------------------------------------")
    print(" the updated 1st layer bias are:\n",b1.numpy())
    print("--------------------------------------------------")
    print(" the updated 2nd layer bias are:\n",b2.numpy())


    return w1, b1, w2, b2,loss

```

In [17]:
model.fit(X,Y.values,epochs=10,batch_size=32)

Epoch 1/10
16/16 [==============================] - 0s 2ms/step - loss: 106.9720
Epoch 2/10
16/16 [==============================] - 0s 2ms/step - loss: 28.7099
Epoch 3/10
16/16 [==============================] - 0s 2ms/step - loss: 6.3215
Epoch 4/10
16/16 [==============================] - 0s 2ms/step - loss: 1.5509
Epoch 5/10
16/16 [==============================] - 0s 2ms/step - loss: 0.6424
Epoch 6/10
16/16 [==============================] - 0s 2ms/step - loss: 0.4617
Epoch 7/10
16/16 [==============================] - 0s 3ms/step - loss: 0.4053
Epoch 8/10
16/16 [==============================] - 0s 2ms/step - loss: 0.3737
Epoch 9/10
16/16 [==============================] - 0s 2ms/step - loss: 0.3513
Epoch 10/10
16/16 [==============================] - 0s 2ms/step - loss: 0.3318

In [18]:
model.predict(X)[:,0]

array([13.078255 , 13.444735 , 12.982122 , 12.966969 , 13.323492 ,
       12.727972 , 12.617831 , 13.249454 , 12.858988 , 13.322599 ,
       13.024776 , 13.212172 , 12.8862   , 13.100668 , 13.499236 ,
       13.092197 , 13.047789 , 13.172383 , 13.074809 , 13.093902 ,
       12.909664 , 13.319717 , 13.017601 , 13.246212 , 13.324951 ,
       12.946422 , 12.878159 , 13.309579 , 13.50041  , 12.810242 ,
       13.323902 , 13.223553 , 13.326148 , 13.230818 , 13.036623 ,
       12.607399 , 12.743956 , 12.998524 , 12.9757185, 12.87001  ,
       13.046255 , 13.321047 , 12.734073 , 13.013914 , 12.653212 ,
       13.095531 , 12.973553 , 12.982122 , 13.085667 , 13.124592 ,
       13.249454 , 12.714853 , 12.77724  , 13.008263 , 13.479303 ,
       13.324099 , 13.310322 , 13.443432 , 13.0804615, 12.542199 ,
       13.124592 , 12.786343 , 13.246212 , 12.82778  , 13.212172 ,
       12.723837 , 13.035044 , 13.105444 , 12.241455 , 12.919762 ,
       13.2756405, 12.733851 , 13.303029 , 12.988389 , 13.079367 ,
       12.638281 , 13.311759 , 13.246212 , 13.315058 , 12.842122 ,
       13.321688 , 13.01871  , 12.280315 , 13.008263 , 13.297413 ,
       12.404072 , 12.670155 , 13.060814 , 12.6021185, 12.655664 ,
       13.48876  , 12.929647 , 13.597393 , 12.880852 , 13.049305 ,
       13.500502 , 13.029984 , 13.493426 , 13.069967 , 13.388161 ,
       13.156326 , 12.964744 , 13.079367 , 13.294377 , 13.443167 ,
       13.2141075, 13.317941 , 12.803175 , 12.736078 , 13.306527 ,
       13.316641 , 13.300296 , 13.103201 , 13.497197 , 13.32085  ,
       13.326232 , 12.912208 , 12.742008 , 13.488169 , 13.031688 ,
       13.322458 , 13.064842 , 11.794486 , 12.99249  , 12.99249  ,
       13.069967 , 13.321047 , 12.670155 , 12.984227 , 13.2141075,
       12.607399 , 13.050804 , 13.465755 , 12.372036 , 12.502612 ,
       13.301224 , 13.008263 , 13.32085  , 13.010162 , 13.286709 ,
       12.980003 , 12.665367 , 13.101215 , 12.77475  , 13.047636 ,
       13.039949 , 13.070215 , 12.673023 , 13.282064 , 12.553328 ,
       13.285545 , 13.319244 , 12.67959  , 13.077124 , 13.313128 ,
       13.059436 , 12.966969 , 12.69565  , 12.759005 , 13.462859 ,
       13.046255 , 13.315668 , 13.310985 , 13.03833  , 13.109132 ,
       13.324885 , 13.322599 , 12.723837 , 13.103201 , 13.086655 ,
       13.634182 , 13.302135 , 13.232594 , 13.035044 , 13.0366955,
       12.998524 , 13.321278 , 13.069967 , 13.321856 , 12.850603 ,
       13.105444 , 12.648275 , 13.298293 , 13.481484 , 13.285545 ,
       13.174617 , 13.318467 , 12.998524 , 13.325869 , 13.003471 ,
       13.068712 , 13.056627 , 12.936919 , 13.076744 , 13.03833  ,
       13.010162 , 13.321278 , 13.304767 , 13.189821 , 13.081539 ,
       12.959407 , 12.9973   , 13.495508 , 13.499236 , 12.695651 ,
       12.533795 , 13.151606 , 13.254191 , 13.089507 , 13.244568 ,
       13.106506 , 13.099291 , 13.438257 , 12.988389 , 12.717529 ,
       13.028265 , 13.068712 , 13.276912 , 12.971373 , 12.662958 ,
       12.919762 , 13.112421 , 13.060814 , 13.499596 , 12.783317 ,
       13.054401 , 13.085667 , 13.282064 , 13.1876955, 13.094727 ,
       13.466696 , 13.106455 , 13.287853 , 12.760452 , 13.087624 ,
       13.052286 , 13.043137 , 13.099291 , 13.000504 , 12.833548 ,
       12.786343 , 13.646021 , 13.290096 , 13.326569 , 12.951088 ,
       13.015765 , 13.029984 , 12.564362 , 12.322248 , 13.326016 ,
       13.071203 , 12.994516 , 13.651825 , 12.693392 , 12.774189 ,
       13.105444 , 13.046255 , 13.266096 , 12.984227 , 12.880852 ,
       12.151461 , 13.278217 , 12.607399 , 12.850603 , 12.700129 ,
       12.740046 , 13.49214  , 13.013914 , 12.617831 , 12.9757185,
       13.125856 , 12.277508 , 13.364876 , 13.300296 , 13.325905 ,
       13.25878  , 13.324885 , 12.922253 , 12.96025  , 12.901955 ,
       13.041552 , 12.751599 , 12.539403 , 13.03833  , 13.637127 ,
       12.698864 , 12.980003 , 13.069967 , 13.10379  , 12.740046 ,
       12.721747 , 13.694226 , 13.3110485, 13.043137 , 13.058041 ,
       13.078255 , 12.996528 , 12.82778  , 12.693392 , 13.073626 ,
       13.0366955, 13.496914 , 13.313788 , 13.015765 , 13.033374 ,
       13.002466 , 13.308819 , 13.321459 , 13.086655 , 13.33495  ,
       12.952955 , 12.667767 , 13.2578745, 13.491658 , 13.042187 ,
       12.740046 , 12.567104 , 12.946422 , 13.4899   , 13.3266   ,
       13.031688 , 13.272997 , 13.495508 , 13.087624 , 13.320407 ,
       13.257267 , 12.706751 , 12.9757185, 12.759005 , 12.615233 ,
       12.473867 , 13.314431 , 13.326263 , 12.377852 , 13.028265 ,
       12.980003 , 13.299352 , 13.318467 , 13.098549 , 13.305611 ,
       13.072424 , 12.688839 , 13.059436 , 13.281957 , 13.493063 ,
       12.909664 , 12.984227 , 12.990447 , 13.305611 , 12.638281 ,
       12.711102 , 13.129632 , 13.321278 , 12.697895 , 13.325869 ,
       12.971373 , 13.635601 , 12.648275 , 13.303029 , 12.858988 ,
       12.711666 , 13.303029 , 13.056627 , 13.108258 , 13.093059 ,
       13.081539 , 13.500517 , 13.017601 , 13.0804615, 13.284367 ,
       13.088573 , 13.086655 , 13.587359 , 12.978535 , 13.052286 ,
       12.564362 , 13.063517 , 13.072424 , 12.798363 , 13.044704 ,
       13.324377 , 12.963626 , 13.069967 , 12.677248 , 12.732054 ,
       12.891501 , 12.697895 , 12.706751 , 12.841791 , 13.0366955,
       12.981688 , 13.236096 , 13.326612 , 13.318754 , 12.998524 ,
       12.711102 , 12.844959 , 13.000391 , 13.266096 , 13.072424 ,
       13.304767 , 13.28317  , 12.742008 , 13.325905 , 12.685981 ,
       12.759005 , 13.072424 , 13.065498 , 12.482523 , 12.944067 ,
       13.102595 , 13.058041 , 13.322458 , 13.069967 , 13.0096   ,
       13.310322 , 12.984227 , 13.095531 , 12.279725 , 13.321278 ,
       13.312246 , 13.4645195, 13.227217 , 12.667767 , 13.174617 ,
       13.068712 , 13.287853 , 13.323804 , 13.033374 , 13.071203 ,
       13.257267 , 13.321278 , 13.314431 , 13.076895 , 13.017601 ,
       13.486737 , 12.59947  , 13.323492 , 13.069967 , 13.075975 ,
       13.090422 , 13.229025 , 12.991086 , 13.29839  , 12.501343 ,
       13.32062  , 13.183397 , 13.104359 , 13.323804 , 13.012047 ,
       12.966969 , 13.028265 , 13.071121 , 13.082598 , 13.291191 ,
       12.667767 , 13.300296 , 13.246212 , 13.227217 , 12.697895 ,
       13.078255 , 13.062695 , 12.316399 , 13.106058 , 13.494719 ,
       12.936919 , 13.2769375, 13.323492 , 13.077124 , 13.312452 ,
       13.074809 , 12.419821 , 13.229025 , 12.964744 , 13.127118 ,
       12.648275 , 13.023006 , 12.220369 , 13.049305 , 12.821972 ,
       12.673942 , 12.650749 , 13.444735 , 12.9271965, 13.274328 ,
       12.721747 , 13.200216 , 13.315058 , 13.08502  , 13.494753 ,
       12.919762 , 13.3266   , 12.711666 , 13.106455 , 13.1876955,
       13.271702 , 13.074809 , 12.980003 , 13.10379  ], dtype=float32)